{% extends 'base2.html' %}

{% block title %}Espace Médecin{% endblock %}

{% block navbar_buttons %}
<!-- Add active class conditionally based on the current URL -->
<a href="{% url 'liste_consultations' %}"
   class="h-full px-4 flex items-center border-r border-l 
          {% if request.path == '/liste_consultations/' %}
              bg-blue-600 text-white pointer-events-none 
          {% else %}
              text-blue-600 hover:bg-blue-500 hover:text-white transition 
          {% endif %}">
  Consultations
</a>

{% endblock %}



{% block content %}
<div class="flex flex-col items-center justify-center h-full">
  <h1 class="text-4xl font-bold">Espace Médecin</h1>
</div>
{% endblock %}
