<div class="container mx-auto p-4 bg-white rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold mb-4">Dossier Médical : {{ membre.username|title }} </h2>

    <!-- Responsive Flex container for the table and any additional content -->
    <div class="flex flex-wrap">
        <!-- Historique des consultations -->
        <div class="w-full overflow-x-auto">
            <table class="table-auto w-full text-left border-collapse">
                <thead class="bg-gray-200">
                    <tr>
                        <th class="px-2 md:px-4 py-2 border">Date</th>
                        <th class="px-2 md:px-4 py-2 border">Docteur</th>
                        <th class="px-2 md:px-4 py-2 border">Établissement</th>
                        <th class="px-2 md:px-4 py-2 border">Symptômes</th>
                        <th class="px-2 md:px-4 py-2 border">Diagnostic</th>
                        <th class="px-2 md:px-4 py-2 border">Prescriptions</th>
                        <th class="px-2 md:px-4 py-2 border">Traitements</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hover:bg-gray-100">
                        <td class="px-2 md:px-4 py-2 border">12/01/2024</td>
                        <td class="px-2 md:px-4 py-2 border">Dr. Jean Rami</td>
                        <td class="px-2 md:px-4 py-2 border">Hôpital Central</td>
                        <td class="px-2 md:px-4 py-2 border">Fièvre, maux de tête</td>
                        <td class="px-2 md:px-4 py-2 border">Grippe saisonnière</td>
                        <td class="px-2 md:px-4 py-2 border">Paracétamol, Ibuprofène</td>
                        <td class="px-2 md:px-4 py-2 border">Repos, hydratation</td>
                    </tr>
                    <tr class="hover:bg-gray-100">
                        <td class="px-2 md:px-4 py-2 border">22/11/2023</td>
                        <td class="px-2 md:px-4 py-2 border">Dr. Sophie Randria</td>
                        <td class="px-2 md:px-4 py-2 border">Clinique de la Santé</td>
                        <td class="px-2 md:px-4 py-2 border">Douleurs abdominales</td>
                        <td class="px-2 md:px-4 py-2 border">Gastrite</td>
                        <td class="px-2 md:px-4 py-2 border">Oméprazole, Gaviscon</td>
                        <td class="px-2 md:px-4 py-2 border">Suivi alimentaire strict</td>
                    </tr>
                    <!-- Autres lignes -->
                </tbody>
            </table>
        </div>
    </div>
</div>
