{% extends 'base2.html' %}
{% load static %}

{% block title %}Espace Consultation{% endblock %}

{% block navbar_buttons %}
<!-- Navigation buttons -->
<a href="{% url 'consultation' %}"
   class="h-full px-4 flex items-center border-r border-l 
          {% if request.path == '/consultation/' %}
              bg-blue-600 text-white pointer-events-none 
          {% else %}
              text-blue-600 hover:bg-blue-500 hover:text-white transition 
          {% endif %}">
  Consulter
</a>
<a href="{% url 'get_dossier_medical' user.id %}"
   class="h-full px-4 flex items-center border-r border-l 
          {% if request.path == '/dossier-medical/' %}
              bg-blue-600 text-white pointer-events-none 
          {% else %}
              text-blue-600 hover:bg-blue-500 hover:text-white transition 
          {% endif %}">
  Dossier médical 
</a>
{% endblock %}

{% block content %}
<div class="container mx-auto my-8 p-4">

    {% include 'dossier_medical/dossier_medical_content.html'%}
</div>
{% endblock %}
